{% extends 'layouts/base.html' %}

{% block title %} Allocations {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-4 pt-md-4">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row align-items-center">
			  
				<div class="col-xl-4 col-lg-6">
					<h6 class="h2 text-white d-inline-block mb-0">Allocations</h6>
					<nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
					  <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
						<li class="breadcrumb-item"><a href="/index"><i class="fas fa-home"></i></a></li>
						<li class="breadcrumb-item"><a href="#">Allocations</a></li>
					  </ol>
					</nav>
				</div>

          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
			<div class="col">
			  <div class="card shadow">
				<div class="card-header bg-transparent">
					<h3 class="mb-0">Your allocations</h3>
					<div class="text-muted mt-1 mb-3">
						See the optimal allocations for your portfolio.
					</div>
					<div class="row align-items-center justify-content-center">
						<div class="col-lg-3 col-md-6">
							<div class="card card-stats mb-4 mb-xl-0" style="align-items: stretch;">
								<div class="card-body">
								  <div class="row">
									<div class="col">
									  <h5 class="card-title text-uppercase text-muted mb-0">Expected Return</h5>
										{% if expected_return < 0 %}
										<span class="text-warning mr-2"><i class="fa fa-arrow-down"></i> {{ (100*expected_return)|round(2) }}%</span>
										{% else %}
											<span class="text-success mr-2"><i class="fa fa-arrow-up"></i> {{ (100*expected_return)|round(2) }}%</span>
										{% endif %}
									</div>
									<div class="col-auto">
										  {% if expected_return < 0 %}
											<div class="icon icon-shape bg-danger text-white rounded-circle shadow">
										  {% else %}
											<div class="icon icon-shape bg-success text-white rounded-circle shadow">
										  {% endif %}
										<i class="fas fa-chart-bar"></i>
									  </div>
									</div>
								  </div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-3 col-md-6">
							<div class="card card-stats mb-4 mb-xl-0" style="align-items: stretch;">
								<div class="card-body">
								  <div class="row">
									<div class="col">
									  <h5 class="card-title text-uppercase text-muted mb-0">Volatility</h5>
									  <span class="text-danger mr-2">{{ (100*volatility)|round(2) }}%</span>
									</div>
									<div class="col-auto">
									  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
										<i class="ni ni-sound-wave"></i>
									  </div>
									</div>
								  </div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-3 col-md-6">
							<div class="card card-stats mb-4 mb-xl-0" style="align-items: stretch;">
								<div class="card-body">
								  <div class="row">
									<div class="col">
									  <h5 class="card-title text-uppercase text-muted mb-0">Sharpe Ratio</h5>
									  <span class="text-info mr-2">{{ sharpe_ratio|round(2) }}</span>
									</div>
									<div class="col-auto">
									  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
										<i class="fas fa-percent"></i>
									  </div>
									</div>
								  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-body">
					{% if current_user.watchlist.split()|length <= 0 %}
						<div class="text-center">
							<span class="text-info">Your watchlist is currently empty. Add symbols <a href="/watchlist/1d" class="button">here</a></span>
						</div>
					{% else %}
						<canvas id="chart-allocations" class="chart-canvas"></canvas>
					{% endif %}
				</div>
			  </div>
			</div>
		  </div>
	  </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

	<script src="/static/assets/vendor/clipboard/dist/clipboard.min.js"></script>

	<script>
		var time_frame_selector = document.getElementById("timeframeSelect");
		
		time_frame_selector.onchange = function() {
			window.location.pathname = 'watchlist/' 
				+ time_frame_selector.options[time_frame_selector.selectedIndex].value;
		};
	</script>

	<script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
	<script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
	
	
	<script type="text/javascript" src="/static/assets/vendor/chartjs-plugin-colorschemes/chartjs-plugin-colorschemes.js"></script>
	
	<!--
	<script type="text/javascript" src="/static/assets/vendor/chartjs-plugin-colorschemes/chartjs-plugin-colorschemes.min.js"></script>
	-->
	
	{% if allocations_data %}
		<script>
			var ctx = document.getElementById('chart-allocations');
			
			var data = {{ allocations_data | tojson }};
			
			var doughnutChart = new Chart(ctx, {
				type: 'doughnut',
				data: data,
				options: {
					plugins: {

					  colorschemes: {

						scheme: 'tableau.Tableau20'

					  }

					}
				}
			});
		</script>
	{% endif %}

{% endblock javascripts %}
