<div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
	 <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
		<div class="modal-content">
		   <div class="modal-header">
			  <h4 class="modal-title" id="modal-title-default">Product information</h4>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">×</span>
			  </button>
		   </div>
		   <div class="modal-body">
			  <p>
			  This is an administration dashboard meant to help you manage your portfolio within specific sectors.
			  It provides tools that enable you to actively manage your watchlist, view the top gainers within your sector,
			  view which equities are being purchased by hedge funds, view insider trading reports, analyze financial data, 
			  view DCF models of investments, and forecast price action using machine learning algorithms. Some of these
			  features require that you first add some equities to your watchlist using the "Add symbol" button, and then 
			  you will be able to use the allocations tab, which tells you the optimal weightings for your equities
			  using a Monte Carlo simulation and historical data. The other tabs have drop downs in order to help you 
			  pick certain stocks and sectors to better analyze them.
			  </p>
		   </div>
		</div>
	 </div>
  </div>


<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
    <div class="sidenav-header  align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/static/assets/img/brand/blue.png" class="navbar-brand-img">
      </a>
    </div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav">
		  <li class="nav-item">
            <a class="nav-link {% if 'watchlist' in segment %} active {% endif %}" 
               href="/watchlist/1d">
              <i class="ni ni-glasses-2"></i>
              <span class="nav-link-text">Watchlist</span>
            </a>
          </li>
		  
		  <li class="nav-item">
            <a class="nav-link {% if 'allocations' in segment %} active {% endif %}" 
               href="/allocations">
              <i class="ni ni-chart-pie-35 text-orange"></i>
              <span class="nav-link-text">Allocations</span>
            </a>
          </li>
		  
		  <li class="nav-item">
            <a class="nav-link {% if 'gainers' in segment %} active {% endif %}" 
               href="/top_gainers/{{ current_user.sector }}/1d">
              <i class="fas fa-percent text-info"></i>
              <span class="nav-link-text">Top gainers</span>
            </a>
          </li>
		  
		  <li class="nav-item">
            <a class="nav-link {% if 'hedge' in segment %} active {% endif %}" 
               href="/hedge_funds/{{ current_user.sector }}">
              <i class="ni ni-building text-primary"></i>
              <span class="nav-link-text">Hedge funds</span>
            </a>
          </li>
		  
		  <li class="nav-item">
            <a class="nav-link {% if 'insider' in segment %} active {% endif %}" 
               href="/insider_trading/{{ current_user.sector }}">
              <i class="ni ni-badge text-green"></i>
              <span class="nav-link-text">Insider trading</span>
            </a>
          </li>
		  
		  <li class="nav-item">
            <a class="nav-link {% if 'financials' in segment %} active {% endif %}" 
               href="/financials/{{ current_user.sector }}">
              <i class="ni ni-archive-2 text-pink"></i>
              <span class="nav-link-text">Financials</span>
            </a>
          </li>
		  
		  <li class="nav-item">
            <a class="nav-link {% if 'dcf' in segment %} active {% endif %}" 
               href="/dcf">
              <i class="ni ni-money-coins text-yellow"></i>
              <span class="nav-link-text">DCF</span>
            </a>
          </li>
		  
		  <li class="nav-item">
            <a class="nav-link {% if 'forecasts' in segment %} active {% endif %}" 
               href="/forecasts">
              <i class="ni ni-calendar-grid-58"></i>
              <span class="nav-link-text">Forecasts</span>
            </a>
          </li>
		  
		  <li class="nav-item">
            <a class="nav-link {% if 'profile' in segment %} active {% endif %}" 
               href="/profile">
              <i class="ni ni-single-02 text-orange"></i>
              <span class="nav-link-text">Profile</span>
            </a>
          </li>

		  <li class="nav-item">
			<a class="nav-link" href="{{ url_for('base_blueprint.logout') }}">
				<i class="ni ni-user-run text-red"></i>
				<span class="nav-link-text">Logout</span>
			</a>
		  </li>
		  
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal">Resources</span>
        </h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#modal-default">
              <i class="ni ni-spaceship"></i>
              <span class="nav-link-text">Dashboard Help</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>